<div class="pagetitle">
    <a href="/resource">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post" enctype="multipart/form-data">
    <td class="data">
        <input type="submit" name="add" id="add"  value="提交">
    </td>

    <table id="resource" width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98" visiable="false">
        <tr  hidden="hidden">
            <td class="title">
                资源类型
            </td>
            <td class="data" hidden="hidden">
                <select name="Resource_Type" id="Resource_Type">
                    <option value="IOS" >IOS</option>
                    <option value="Android">Android</option>
                    <option value="WebPlayer">WebPlayer</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="title">
                资源文件
            </td>
            <td class="data">
                <input type="file" multiple="multiple" name="Resource_File" id="Resource_File" value="" />
            </td>
        </tr>
    </table>

</form>

