<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/css/timepicker.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.4.1.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-slide.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body style="background-color:#FFFFFF; padding:10px;">
<%- body%>
</body>
</html>