<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<script type="text/javascript" src="js/tree.js"></script>
<script type="text/javascript">
    // 导航栏配置文件
    var outlookbar = new outlook();
    var t1 = outlookbar.addtitle('日志查询', '系统', 1);
    <%
      menus.BI.forEach(function(item){
    %>
        <%- "outlookbar.additem('" + item.title + "', t1, '" + item.url + "');"%>
    <%
      });
    %>

    //var t2 = outlookbar.addtitle('管理工具', '系统', 2);
    <%
      menus.manage_Tools.forEach(function(item){
    %>
        <%//- "outlookbar.additem('" + item.title + "', t2, '" + item.url + "');"%>
    <%
      });
    %>

    //var t3 = outlookbar.addtitle('配置表', '系统', 3);
    <%
      menus.config.forEach(function(item){
    %>
        <%//- "outlookbar.additem('" + item.title + "', t3, '" + item.url + "');"%>
    <%
      });
    %>

    //var t4 = outlookbar.addtitle('游戏管理', '系统', 5);
    <%
      menus.game.forEach(function(item){
    %>
        <%//- "outlookbar.additem('" + item.title + "', t4, '" + item.url + "');"%>
    <%
      });
    %>

    //var t5 = outlookbar.addtitle('QA工具', '系统', 5);
    <%
      menus.qa_tool.forEach(function(item){
    %>
    <%//- "outlookbar.additem('" + item.title + "', t5, '" + item.url + "');"%>
    <%
      });
    %>

    $(document).ready(function(){
       initinav('系统')
    });
</script>
<div id="left_content">
    <div id="user_info">
        [<a href="/logout" target='_parent'>退出</a>] <strong><%-user.name%></strong><br />版本:V1.0<br />
    </div>
    <div id="main_nav">
        <div id="left_main_nav" >
        </div>
        <div id="right_main_nav">
        </div>
    </div>
</div>
